header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  height: 100dvb;
}

.title_image_header{
  display: flex;
  flex-direction: row;
  
 
}

.header-buttons{
  display: flex;
  gap: 8%;
  height: 60px;
  width: 360px;

.header_button {
  display: flex;
 justify-content: center;
 align-items: center;
 width: 170px;
  gap: 10px;
  position: relative;
  padding: 10px ;
  font-size: 16px;
  color: #fff;
  background: linear-gradient(to right, #575EFF 50%,#051324 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  border: solid 1px var(--secondary);
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.header_button:hover {
  background-position: left bottom;
  color: #fff;
}

.header_button:focus {
  outline: none;
}
}

.section_container{
display: flex;
flex-direction: column;

.title_section{
  padding: 0px 30px 30px 0px
}

.line{
width: 20vw;
background: #575EFF;
border: 3px solid #575EFF;

}
margin-top: 80px;

.content_skills{
  PADDING: 30px 10px 30px 10px;
  display: flex;
  place-items: center;
  gap: 50px;
  BORDER: SOLID 1px #575EFF;
  border-radius: 50px;
  MARGIN: 20PX;
  transition: all 0.3s ease-in;
  height: 100px;

  &:hover{
    transform: scale(1.05);
  }
}

.title_skills{
  width: 300px;
}

.skills_images{
  display: flex;
gap: 50px;
}
}

// Projets//

.projet_container{
width: 80vw;
margin: 25px 0px 25px 0px;
  
  .image_projet{
    width: 80vw;
    height: 200px;
    background: url("/public/seelies.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: rgba(248, 248, 248, 0.24) 0px 3px 8px;

    
  
  }

  .détails_projet{
    display: flex ;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0px 20px 0px;

  .résumé{
    width: 50%;
  }

  .stack_projet{
    display: flex;
    flex-direction: column;
    place-items: center;
  }

  .logo_stack{
    width: 65px;
    padding: 5px;
  }
  }
}

.image_projet2{
  width: 80vw;
  height: 200px;
  background: url("/public/GENKO.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: rgba(248, 248, 248, 0.24) 0px 3px 8px;
}