.header {
  display: flex;
  justify-content: end;
  padding: 10px;
  align-items: center;
  color: white;
}
.head-menu {
  list-style: none;
  display: flex;

  li {
    margin: 10px;
  }

  a {
    color: white;
    text-decoration: none;
  }
}

@media screen and (max-width: 800px) {
  nav {
    display: flex;
    justify-content: center;

    .header {
      border: 1px solid;
      border-radius: 30px;
    }
  }
}
