// Projets//

.container_projets_menu {
  width: 100vw;

  ul {
    list-style: none;
    display: flex;
    gap: 30px;
  }

  li {
    border: solid 1px var(--secondary);
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    &:active {
      background-color: var(--secondary);
    }
  }
}

@media screen and (max-width: 800px) {
  .container_projets_menu {
    width: 80vw;
    display: flex;

    ul {
      list-style: none;
      display: flex;
      gap: 10px;
      flex-wrap: WRAP;
      justify-content: CENTER;
    }
  }
}
