:root {
  //  Colors //
  --primary: #051324;
  --texte: #f8fbff;
  --secondary: #575eff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--primary);
  color: var(--texte);
  font-family: jost, sans-serif;
  padding-left: 3%;
  padding-right: 3%;
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.2rem;
  }

  a {
    text-decoration: none;
    color: #f8fbff;
  }
}
